################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/1-3DP主控界面(人机交互模块)
/2-SetParamDlg
/2-SetParamDlg（模仿李老师）/obj/Debug
/3-AnyCAD控件2019-64位
/.vs
/参考/HiPrint
/Meteor Inkjet
