# LaserAdd custom excludes
/1-3DP主控界面(人机交互模块)
/2-SetParamDlg
/2-SetParamDlg（模仿李老师）/obj/Debug
/3-AnyCAD控件2019-64位
/.vs
/参考/HiPrint
/Meteor Inkjet
/【控制器】Royal控制器手册-20220508/气压版说明(1).pdf
/GTS800-加限位.cfg
/docs/3DP设备开发进展汇报（技术附件）.pptx
/docs/1.Dimetal-1200M设备循环系统和工艺开发研究（01-06月）.pptx
/docs/__pycache__/ppt_common.cpython-312.pyc
/docs
